@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E8E8E8;

}

/* Color Palette */
.bg-utama {
    background-color: #06283D;
}

.bg-biru {
    background-color: #1363DF;
}

.bg-cyan {
    background-color: #47B5FF;
}

.bg-biru-muda {
    background-color: #DFF6FF;
}

.bg-krem {
    background-color: #C3C488;
}

.bg-hijau {
    background-color: #43C448;
}

.bg-abu {
    background-color: #E8E8E8;
}

.bg-abu-2{
    background-color: #c9c9c9;
}

#Login .img-login {
    object-fit: cover;
}


#Login .google{
    width: 40px;
}

.round{
    border-radius: 15px;
}

.navbar-link{
    color: #999999;
    text-decoration: none;
    transition: 0.2s;
}

.navbar-link:hover{
    color: #1363DF;
}

.navbar-link.active{
    color: #1363DF;
}

.navbar-link.active:hover{
    color: #174c9c;
}

.navbar-link-setting{
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
    background-color: #c2c2c2;
}

.navbar-link-setting:hover{
    color: #1363DF;
}

.navbar-link-setting.active{
    color: #1363DF;
}

.navbar-link-setting.active:hover{
    color: #174c9c;
}

.dropdown-item:hover{
    background-color: #1363DF;
    color: #ffffff;
}

.my-profile .card-img-top{
    max-height: 100px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.my-profile .pics{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

.text-sm {
    font-size: 14px;
}

.posting .pics{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

#Profile .card-img-top{
    max-height: 150px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#Profile .pics{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

#Experience .pics{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

#Experience .card-img-top{
    max-height: 200px;
    object-fit: cover;
    border-radius: 15PX;
}

.switch{
    background-color: #bbbbbb;
    width: 300px;
}

.tombol:hover{
    background-color: #1363DF;
    color: #ffffff;
}

.icon{
    width: 50px;
}

.chat-box{
    height: 600px;
}
.chat-icon{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

.posting-btn:hover{
    background-color: #E8E8E8;
}

.posting-btn.active{
    background-color: #E8E8E8;
}

.posting-btn.active:hover{
    background-color: #b8b6b6;
}

.caret-hover:hover{
    color: #9a9a9a;
}

.notif{
    font-size: 10px;
}
